body{
  margin: 0;
  padding: 0px;
}

.meat{
	width: 1000px;
	margin: auto;
  padding: 0;
  font-size: 8pt;
  overflow: auto;
}

.call-to-action {
  height: 120px;
  width: 245px;
  margin: 0 25px 0 0;
  border: 10px solid #CCCCCC;
  background-color: #EFEFEF;
  padding: 25px;
  font-size: 8pt;
  overflow: auto;
  float: left;
}
.call-to-action2 {
  height: 120px;
  width: 245px;
  margin-top: 0;
  margin-right: 0;
  border: 10px solid #CCCCCC;
  background-color: #EFEFEF;
  padding: 25px;
  font-size: 8pt;
  overflow: auto;
  float: left;
}

.call-to-action h2 {
  margin-top: 0;
}

a.button {
  margin-top: 2px;
  margin-left: 2px;
  background: #AAFFAA;
  border: 2px solid #00AA00;
  color: #005500;
  font-weight: bold;
  text-decoration: none;
  padding: 7px;
  float: left;
}
a.button2 {
  margin-top: 2px;  
  margin-left: 2px;
  background: #AAFFAA;
  border: 2px solid #00AA00;
  color: #005500;
  font-weight: bold;
  text-decoration: none;
  padding: 7px;
  float: left;
}